html {
    background-color: darkgray;
}

h1 {
    font-size: xxx-large;
    font-weight: 500;
}

h3 {
    background-color: lightcoral;
    display: inline;
}

ol {
    padding-left: 30px;
    list-style-type: decimal;
}

ul {
    list-style-type: square;
    padding-left: 30px;
}

#title {
    text-align: center;
}

#name {
    font-size: xxx-large;
}

#introduction {
    font-size: xx-large;
}

#education {

}

#experience {

}

#goals {

}

#most-played-games {
    background-color: #8fa9ff;
}
