html {
    background-color: #575656;
    color: #94e9fd;
}

h1 {
    font-size: xxx-large;
    font-weight: 500;
}

#title {
    text-align: center;
}

#name {

}

#introduction {

}

#education {

}

#experience {

}

#goals {

}
